#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#start-button {
  margin: 10px 0px 10px 0px;
  float: left;
}

body {
  background-color: azure;
}

h1 {
  margin-left: 10px;
}

#options {
  margin-left: 10px;
}

.noclick {
  pointer-events:none;
}

p {
  text-align: center;
  font-weight:bold;
  font-size:xx-large;
}